name: manual deploy
run-name: Deploy to ${{ inputs.service }} on ${{ github.ref_name }} branch by @${{ github.actor }}
on:
  workflow_dispatch:
    inputs:
      service:
        description: 'service name'
        required: true
        default: 'harrods'
        type: choice
        options:
          - harrods
          - stat
env:
  AWS_REGION: ap-northeast-2
  S3_DEPLOY_LOCATION: s3://musinsa-server-build/dataplatform/

jobs:
  setup_environment:
    name: setup environment
    runs-on: ubuntu-22.04
    outputs:
      service_name: ${{ steps.vars.outputs.service_name }}
      profile: ${{ steps.vars.outputs.profile }}
      service_tar: ${{ steps.vars.outputs.service_tar }}
      deploy_location: ${{ steps.vars.outputs.profile }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - id: vars
        name: Ser variables
        run: |
          echo service_name=${{ inputs.service }} >> $GITHUB_ENV
          echo profile=${{ inputs.env }} >> $GITHUB_ENV
          echo service_tar=${{ env.service_name }}.tar  >> $GITHUB_ENV
          echo deploy_location=${{ env.S3_DEPLOY_LOCATION }}/${{env.service_name}}/${{env.profile}}/${{env.service_tar}}  >> $GITHUB_ENV

  build:
    name: second job
    runs-on: ubuntu-22.04
    needs: [ setup_environment ] # first_job을 실행하고 second_job을 실행하도록 한다
    steps:
      - run: echo 'second job'
